<nav class="">
    <li class="navbarbutton"><a href="/home">HOME</a></li>
    <li class="navbarbutton"><a href="/about">ABOUT</a></li>
    <li class="navbarbutton"><a href="/reports">REPORTS</a></li>
    <li class="navbarbutton-logout"><a href="/logout">LOGOUT</a></li>
</nav>
