
.table { 

  margin: auto;
  width: 70%
 
}

tr { 
  line-height: 30px;
}


#myVideo {
    margin: auto;
    size: 25%;
  }
  
  .content {
    text-align: center ;
    object-position: top;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }

.container_text {
  padding: 100px;
}
