<nav class="navbar fixed-bottom navbar-dark bg-dark">
  <h6 class="navbar-text" style = "color: white" >&copy; Copyright 2022 <a href="https://github.com/NathanC-OTU/Final-Project"> Github Link </a> </h6>
</nav>
</body>
<footer>
</footer>
</html>