<%- include ('partials/header.ejs') %>
<%- include ('partials/main_nav.ejs') %>
    <div class="container_text">
    <h1>CWIRe</h1>
    <p>Canada's Official Non-Offical Workplace Incident Reporter</p>
    </div>
    
    <h1>Our Mission</h1>
    <p>
    CWIRe is an independent Canadian workplace accident or incident logging system where employees can record or log workplace accidents or incidents. 
    The system covers all manner of incidents from industrial factories to restaurant kitchens, as we believe workplace accidents can happen anywhere. 
    Our mission is to keep the public informed about these workplace accidents, allow researchers and analysts to see data about workplace accidents, and hold companies and employers responsible for any damages or negligence.
    </p>
    
<%- include ('partials/footer.ejs') %>